.gitsecret/keys/random_seed
!*.secret

# IDE Files
.DS_STORE
.vscode
/.idea/
.env

# python files
*.pyc
.pytest_cache/

/venv/*
config/secret/common_secrets.ini
config/secret/development_secrets.ini
config/secret/docker_secrets.ini
config/secret/testing_secrets.ini

# coverage files
.coverage
coverage.xml
