.gitsecret/keys/random_seed
!*.secret

# IDE Files
.DS_STORE
.vscode
/.idea/
.env

# python files
*.pyc
.pytest_cache/

/venv/*

# config files
/config/development_config.ini
/config/testing_config.ini
/config/docker_config.ini
